*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#050816;
  color:white;
  font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
  overflow-x:hidden;
}